#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    color: black !important;
    margin-bottom: 60px;
}

#customers td,
#customers th {
    border: 1px solid;
    padding: 8px;
}

#customers th {
    background-color: rgba;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.35);
}

#heading {
    background-color: rgba(0, 0, 0, 0.35);
}

#customers tr:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

.styleit {
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.35);
}
.leaderboard{
    flex:7;
    background-color: rgba(0,0,0,0.35);
    box-sizing: border-box;
    padding:40px 20px 0 20px;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.head{
    font-size: 40px;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.shares{
    width:90%;
    border:2px solid;
    margin-top: 30px;
    background-color: white;
    min-height: 300px;
    position:relative;
}
.shares::after{
    content:"";
    height:100%;
    width:1px;
    position: absolute;
    right:24%;
    top:0;
    z-index: 6;
    background-color: black;
}
.top{
    display: flex;
    background-color: rgba(0,0,0,0.35);
}
.user{
    flex:3.1;
    justify-content: center;
    display: flex;
    padding:10px 15px;
    align-items: center;
}
.total{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stock{
    display: flex;
}
.holder{
    flex:3.1;
    padding:10px 15px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display:flex;
}
.price{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.stock:hover{
    background-color: rgba(0,0,0,0.2);
}