
.quote{
    flex:7;
    background-color: rgba(0,0,0,0.35);
    box-sizing: border-box;
    padding:40px 20px 0 20px;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.quote input{
    width:30%;
    border:0;
    outline: none;
    height:22px;
    border-radius: 6px;
    padding:6px 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.quote button{
    padding:8px 8px;
    background-color: lightblue ;
    border: 0;
    width: 70px;
    color:black;
    outline: none;
    margin-bottom: 20px;;
    cursor: pointer;
    border:1px solid lightblue;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
}
.quote button:hover{
    background-color: transparent;
}
