*{
    margin:0;
    padding:0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #0072BB;
    min-height:8vh;
    align-items: center;
    padding:0 30px 0 30px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar>.logo{
    font-size: 40px ;
}
.navbar>.signButtons>a{
    margin-right: 20px;
    padding:10px 20px;
    text-decoration:none;
    background-color: lightblue ;
    border: 0;
    color:black;
    outline: none;
    cursor: pointer;
    border:1px solid lightblue;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
}
.navbar>.signButtons>a:hover{
    background-color: #0072BB;
    color:white;
}
.body{
    display: flex;
    height:92vh;
}
.sidebar{
    display: flex;
    flex-direction: column;
    flex:2;
    align-items: center;
    box-sizing: border-box;
    padding-top:40px;

}
.active{
    background-color: #013f66 !important;
    color:white !important;
}
.sidebar > a{
    padding:10px 20px;
    background-color: lightblue ;
    border: 0;
    text-align: center;
    width:120px;
    text-decoration:none;
    color:black;
    outline: none;
    margin-bottom: 20px;;
    cursor: pointer;
    border:1px solid lightblue;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
}

.sidebar > a:hover{
    background-color: white;
    color:black;
}
.active:hover{
    background-color: #013f66 !important;
}

/* The alert message box */
.alert {
    padding: 15px;
    color: white;
    /* margin-bottom: 15px;
    margin-top: 15px; */
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.05s; /* 600ms to fade out */
  }
  
  .error /* for alert */
  {
    background-color: rgba(255, 0, 0, 0.6);  /* red */
    border: 2px solid red;
  }
  
  .success /* for alert */
  {
    background-color: rgba(0, 128, 0, 0.5);  /* green */
    border: 2px solid green;
  }
  
  .message /* for alert */
  {
    background-color: rgba(0, 0, 128, 0.6);  /* green */
    border: 2px solid rgb(0, 0, 128);
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }