<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="universal.css">
    <link rel="stylesheet" href="dashboard.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            Stock Exchange Simulator
        </div>
        <div class="signButtons">
            <a href="">Logout</a>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <a href="" class="active">Dashboard</a>
            <a href="quote.html">Quote</a>
            <a href="buy.html">Buy</a>
            <a href="sale.html">Sale</a>
            <a href="Leaderboard.html">Leaderboard</a>
            <a href="history.html">History</a>
        </div>
        <div class="dashboard_container">
            
            <div class="head">
                <h1>Portfolio</h1>
            </div>
            <table id="customers">
                <tr id="headings">
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>GOOGL</td>
                    <td>Google</td>
                    <td>2</td>
                    <td>$161.84</td>
                    <td>$161.84</td>
                </tr>
                <tr>
                    <td>AAPL</td>
                    <td>Apple</td>
                    <td>1</td>
                    <td>$161.84</td>
                    <td>$5700</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="styleit">Cash</td>
                    <td class="styleit"><strong>$4,137</strong></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="styleit">Total</td>
                    <td class="styleit"><strong>$10,000</strong></td>
                </tr>

            </table>
            <div id="track" class="head">
                <h1>Tracked Slots</h1>
            </div>
            <table id="customers">
                <tr id="headings">
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>GOOGL</td>
                    <td>Google</td>
                    <td>$2850.84</td>
                </tr>
                <tr>
                    <td>AAPL</td>
                    <td>Apple</td>
                    <td>$5700</td>
                </tr>
        </div>
    </div>
</body>

</html>