<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='universal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {{ category }}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- <div class="alert error">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Toooooo!
    </div> -->

    <div class="navbar">
        <div class="logo">
            Stock Exchange Simulator
        </div>
        <div class="signButtons">
            <a href="/signout">Logout</a>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <a href="" class="active">Dashboard</a>
            <a href="/quote">Quote</a>
            <a href="/buy">Buy</a>
            <a href="/sell">Sale</a>
            <a href="/leaderboard">Leaderboard</a>
            <a href="/history">History</a>
        </div>
        <div class="dashboard_container">

            <div class="head">
                <h1>Portfolio</h1>
            </div>
            <table id="customers">
                <tr id="headings">
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                {% for stock_data in stocks_data %}
                <tr>
                    <td>{{stock_data["stock_symbol"]}}</td>
                    <td>{{stock_data["company_name"]}}</td>
                    <td>{{ stock_data["shares"] }}</td>
                    <td>{{ stock_data["stock_price"] }}</td>
                    <td> {{ stock_data["total"] }} </td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="styleit">Cash</td>
                    <td class="styleit"><strong>{{ cash }}</strong></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="styleit">Total</td>
                    <td class="styleit"><strong>{{ total }}</strong></td>
                </tr>

            </table>
            <div id="track" class="head">
                <h1>Tracked Slots</h1>
            </div>
            <table id="customers">
                <tr id="headings">
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>GOOGL</td>
                    <td>Google</td>
                    <td>$2850.84</td>
                </tr>
                <tr>
                    <td>AAPL</td>
                    <td>Apple</td>
                    <td>$5700</td>
                </tr>
        </div>
    </div>
</body>

</html>