<!-- for errors -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>

    <style>
        .error {
            color: red;
            font-size: xx-large;
        }
    </style>
</head>
<body>
    
    <!-- show a big error message in red -->
    <div class="error">
        <h1>{{ message }}</h1>
    </div>
    <a href="/">Go back to the homepage</a>

</body>
</html>