<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="universal.css">
    <link rel="stylesheet" href="history.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            Stock Exchange Simulator
        </div>
        <div class="signButtons">
            <a href="">Logout</a>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <a href="dashboard.html" >Dashboard</a>
            <a href="quote.html">Quote</a>
            <a href="buy.html">Buy</a>
            <a href="sale.html">Sale</a>
            <a href="Leaderboard.html" >Leaderboard</a>
            <a href="" class="active">History</a>
        </div>
        <div class="history_container">
            <div class="head"> 
                <h1>History</h1>
            </div>
            <table id="customers">
                <tr id="headings">
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
                </tr>
                <tr>
                    <td>GOOGL</td>
                    <td>2</td>
                    <td>$2850.41</td>
                    <td>2021-12-04  <strong style="margin-left:20px">14:37:24</strong></td>
                </tr>
                <tr>
                    <td>AAPL</td>
                    <td>1</td>
                    <td>$161.84</td>
                    <td>2021-12-04  <strong style="margin-left:20px">14:37:54</strong></td>
                </tr>

            </table>
        </div>
    </div>
</body>
</html>