<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='universal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaderboard.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            Stock Exchange Simulator
        </div>
        <div class="signButtons">
            <a href="/signout">Logout</a>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <a href="/">Dashboard</a>
            <a href="/quote">Quote</a>
            <a href="/buy">Buy</a>
            <a href="/sell">Sale</a>
            <a href="" class="active">Leaderboard</a>
            <a href="/history">History</a>
            
        </div>
        <div class="leaderboard">
            <div class="head"> 
                <h1>Top Share Holders</h1>
            </div>
            <table id="customers">
                <tr id="headings">
                    <th>Username</th>
                    <th>Total Cash</th>
                </tr>
                {% for user_data in db_result %}
                <tr>
                    <td>{{ user_data["username"] }}</td>
                    <td>{{ user_data["cash"] }}</td>
                </tr>
                {% endfor %}
                <!-- <tr>
                    <td>RA</td>
                    <td>$301.8</td>
                </tr>
                <tr>
                    <td>SAA_12/td>
                    <td>$301.7</td>
                </tr>
                <tr>
                    <td>UBM</td>
                    <td>$301.6</td>
                </tr>
                <tr>
                    <td>Muhammad Talha</td>
                    <td>$301.5</td>
                </tr>
                 -->
    
            </table>
        </div>
    </div>
</body>
</html>