<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="universal.css">
    <link rel="stylesheet" href="leaderboard.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            Stock Exchange Simulator
        </div>
        <div class="signButtons">
            <a href="">Logout</a>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <a href="dashboard.html" >Dashboard</a>
            <a href="quote.html">Quote</a>
            <a href="buy.html">Buy</a>
            <a href="sale.html">Sale</a>
            <a href="" class="active">Leaderboard</a>
            <a href="history.html">History</a>
        </div>
        <div class="leaderboard">
            <div class="head"> 
                <h1>Top Share Holders</h1>
            </div>
            <table id="customers">
                <tr id="headings">
                    <th>User Name</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>Rohan Ahmed</td>
                    <td>$301.8</td>
                </tr>
                <tr>
                    <td>Sohaib Ahmed Abbasi</td>
                    <td>$301.7</td>
                </tr>
                <tr>
                    <td>Umar bin Mujeeb</td>
                    <td>$301.6</td>
                </tr>
                <tr>
                    <td>Muhammad Talha</td>
                    <td>$301.5</td>
                </tr>
                
    
            </table>
        </div>
    </div>
</body>
</html>