<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote</title>
    <link rel="stylesheet" href="universal.css">
    <link rel="stylesheet" href="quote.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            Stock Exchange Simulator
        </div>
        <div class="signButtons">
            <a href="">Logout</a>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <a href="dashboard.html" >Dashboard</a>
            <a href="" class="active">Quote</a>
            <a href="buy.html">Buy</a>
            <a href="sale.html">Sale</a>
            <a href="Leaderboard.html">Leaderboard</a>
            <a href="history.html">History</a>
        </div>
        <div class="quote">
            <input placeholder="Symbol" type="text" name="symbol" id="symbol">
            <button>Quote</button>
        </div>
    </div>
</body>
</html>