<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='universal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='quote.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {{ category }}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="navbar">
        <div class="logo">
            Stock Exchange Simulator
        </div>
        <div class="signButtons">
            <a href="">Logout</a>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <a href="/" >Dashboard</a>
            <a href="" class="active">Quote</a>
            <a href="/buy">Buy</a>
            <a href="/sale">Sale</a>
            <a href="/leaderboard">Leaderboard</a>
            <a href="/history">History</a>
        </div>
        <form class="quote" method = "POST" action = /quote>
            <input placeholder="Symbol" type="text" name="symbol" id="symbol">
            <button>Quote</button>
        <form>
        <div><p>{{message}}</p></div>
        
    </div>
</body>
</html>