<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sale</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='universal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sale.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            Stock Exchange Simulator
        </div>
        <div class="signButtons">
            <a href="/signout">Logout</a>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <a href="/dashboard" >Dashboard</a>
            <a href="/quote">Quote</a>
            <a href="/buy">Buy</a>
            <a href=""  class="active">Sale</a>
            <a href="/leaderboard">Leaderboard</a>
            <a href="/history">History</a>
        </div>
        <form class="sale" action="/buy" method="post">
            {% if error == "You don't have any shares to sell" %}
                <div id="error">{{ error }}</div>
            {% else %}
                <input placeholder="Symbol" type="text" name="symbol" id="symbol">
                <input placeholder="Shares" type="number" name="shares" id="shares">
                <input type="submit" value="Sell">
                <div id="error">{{ error }}</div>
            {% endif %}
        </form>

    </div>
</body>
</html>