<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="signIn.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            Stock Exchange Simulator
        </div>
        <div class="signButtons">
            <a href="">Sign In</a>
            <a href="signUp.html">Sign Up</a>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <a href="signUp.html">Sign Up</a>
            <a href="" class="active">Sign In</a>
        </div>
        <div class="form">
            <div class="mainform">
                <div class="emailbox">
                    <div class="email">
                        <p class="testyle">Email</p>
                        <input type="text" class="inpstyle" placeholder="Enter email">
                    </div>
                </div>
                <div class="passbox">
                    <div class="password">
                        <p class="testyle">Password</p>
                        <input type="text" class="inpstyle" placeholder="Enter password">
                    </div>
                </div>
                <div class="submit">
                    <button>SignIn</button>
                </div>
            </div>
        </div>
    </div>
    <script src="fetch.js"></script>
</body>
</html>