<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signUp.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='universal.css') }}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> jquery -->
    <!-- <link rel="stylesheet" type="text/css"> -->
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {{ category }}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="navbar">
        <div class="logo">
            Stock Exchange Simulator
        </div>
        <div class="signButtons">
            <a href="/signin">Sign In</a>
            <a href="">Sign Up</a>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <a href="" class="active">Sign Up</a>
            <a href="/signin">Sign In</a>
        </div>
        <form class="form" action="/signup" method="POST">
            <div class="namebox">
                <div class="name">
                    <p class="testyle">User Name</p>
                    <input type="text" class="inpstyle" placeholder="Enter unique username" id="username"
                        name="username">
                </div>
            </div>
            <div class="passbox">
                <div class="password">
                    <p class="testyle">Password</p>
                    <input type="password" class="inpstyle" placeholder="Enter password" name="password" id="password">
                </div>
            </div>
            <div class="confirmbox">
                <div class="confirmpass">
                    <p class="testyle">Confirm Password</p>
                    <input type="password" class="inpstyle" placeholder="Confirm password" name="confirmpassword"
                        id="confirmpassword">
                </div>
            </div>
            <div class="apibox">
                <div class="Api">
                    <p class="testyle">Api</p>
                    <input type="text" class="inpstyle" placeholder="Enter Api" name="api" id="api">
                </div>
            </div>
            <div class="submit">
                <input type="submit" value="Submit" id="submit">
            </div>
            <div id="error">{{ error }}</div>
            <div>
                <p>Already have an account? <a href="/signin">Sign In</a></p>
            </div>
            <div>
                <br>
                <h1>API Key tutorial</h1>
                To use this application, you will need to register for an API key in order to be able to
                get stocks' data. To do so, follow these steps:<br><br>

                1) Visit iexcloud.io/cloud-login#/register/. <br>
                2) Select the “Individual” account type, then enter your email address and a password, and click “Create
                account”.<br>
                3) Once registered, scroll down to “Get started for free” and click “Select Start” to choose the free plan.<br>
                4) Once you’ve confirmed your account via a confirmation email, visit https://iexcloud.io/console/tokens.<br>
                5) Copy the key that appears under the Token column (it should begin with pk_).<br>
                6) Paste the key into the field above.
            </div>
        </form>

    </div>
</body>

<script>
//     let signupbtn = document.getElementById('signupbtn');
//     $('#error').html('');
//     $(document).ready(function() {
//         signupbtn.addEventListener('click', function() {
//             let username = document.getElementById('username').value;
//             let password = document.getElementById('password').value;
//             let confirmpassword = document.getElementById('confirmpassword').value;
//             let api = document.getElementById('api').value;
//             if (username == '' || password == '' || confirmpassword == '' || api == '') {
//                 $('#error').html('<p>Please fill all the fields</p>');
//             } else if (password != confirmpassword) {
//                 $('#error').html('<p>Password and Confirm Password does not match</p>');
//             } else {
//             $.post('/signup', {
//                 username: username,
//                 password: password,
//                 confirmpassword: confirmpassword,
//                 api: api
//             }, function(data, status) {
//                 if (status == 'success') {
//                     window.location.href = '/';
//                 } else {
//                     $('#error').html('<p>' + data.message + '</p>');
//                 }
//             });
//             }
//         });
//     });

// </script>

</html>