<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="signUp.css">

    
</head>

<body>
    <div class="navbar">
        <div class="logo">
            Stock Exchange Simulator
        </div>
        <div class="signButtons">
            <a href="signIn.html">Sign In</a>
            <a href="">Sign Up</a>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <a href="" class="active">Sign Up</a>
            <a href="signIn.html">Sign In</a>
        </div>
        <div class="form">
            <div class="namebox">
                <div class="name">
                    <p class="testyle">Name</p>
                    <input type="text" class="inpstyle" placeholder="Enter name">
                </div>
            </div>
            <div class="emailbox">
                <div class="email">
                    <p class="testyle">Email</p>
                    <input type="text" class="inpstyle" placeholder="Enter email">
                </div>
            </div>
            <div class="passbox">
                <div class="password">
                    <p class="testyle">Password</p>
                    <input type="text" class="inpstyle" placeholder="Enter password">
                </div>
            </div>
            <div class="confirmbox">
                <div class="confirmpass">
                    <p class="testyle">Password</p>
                    <input type="text" class="inpstyle" placeholder="Enter Confirm password">
                </div>
            </div>
            <div class="apibox">
                <div class="Api">
                    <p class="testyle">Api</p>
                    <input type="text" class="inpstyle" placeholder="Enter Api">
                </div>
            </div>
            <div class="submit">
                <button>SignUp</button>
            </div>
        </div>
    </div>
</body>

</html>